<li class="draggable" draggable="true" title="@ShortcutModel.Title" @ondragstart="@(() => HandleDragStart(ShortcutModel))">
    <p class="last-updated"><small>Last Updated</small> @ShortcutModel.LastUpdated.ToString("HH:mm.ss tt")</p>
    <a draggable="false" href="@ShortcutModel.Link">@ShortcutModel.LinkDescription</a>
</li>

@code {
    [CascadingParameter] ShortcutContainer Container { get; set; }
    [Parameter] public ShortcutModel ShortcutModel { get; set; }

    private void HandleDragStart(ShortcutModel selectedShortcut)
    {
        Container.Payload = selectedShortcut;
    }
}